/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@font-face {
    font-family: 'GothamRoundedBold';
    src: url('./fonts/GothamRounded-Bold.otf');
}

// Colors.
$primary: #082642;
$secondary: #1481CE;
$hint:#03A9F4;
$buttonColor: #1481CE;
$fontColor: #A1A4B1;
$buttonFont: 'GothamRoundedBold';
